.navbar {
  border-right: 1px solid #ccc;
  height: 20vh;

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--light-blue);

    h4 {
      color: #fff;
    }
  }

  nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    li {
      flex: 1;
      line-height: 6rem;
      border: 1px solid #ccc;
      position: relative;
      a {
        font-size: 2rem;
        display: block;
        width: 100%;
      }
    }
  }
}

.active {
  cursor: pointer;
  background-color: orangered;
  color: white;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}

// .active::before {
//   content: "";
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 4px;
//   height: 100%;
//   background-color: orangered;
// }
