.home {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.title {
  margin: 2rem 2rem 1rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  // border-bottom: 3px solid var(--light-blue);
  padding: 5px;
  background-color: #f5f6fa;
  margin: 2rem ;
}

.card1 {
  border-bottom: 3px solid #b624ff;
}
.card2 {
  border-bottom: 3px solid #1f93ff;
}
.card3 {
  border-bottom: 3px solid orangered;
}
